[submodule "test/third_party/boost"]
	path = test/third_party/boost
	url = https://github.com/FiftyThree/boost.git
[submodule "test/third_party/json11"]
	path = test/third_party/json11
	url = https://github.com/dropbox/json11
