[submodule "test/third_party/boost"]
	path = test/third_party/boost
	url = git@github.com:FiftyThree/boost.git
[submodule "test/third_party/json11"]
	path = test/third_party/json11
	url = git@github.com:dropbox/json11
